<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.uiexamples">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Job Application"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.UIExamples"
            android:usesCleartextTraffic="true">
        <activity
                android:name=".ModificarProfesor"
                android:exported="true"/>
        <activity
                android:name=".InsertarProfesor"
                android:exported="true"/>
        <activity
                android:name=".ModificarAlumno"
                android:exported="true"/>
        <activity
                android:name=".InsertarAlumno"
                android:exported="true"/>
        <activity
                android:name=".ModificarCurso"
                android:exported="true"/>
        <activity
                android:name=".InsertarCurso"
                android:exported="true"/>
        <activity
                android:name=".CrudCursos"
                android:exported="true"/>
        <activity
                android:name=".CrudProfesores"
                android:exported="true"/>
        <activity
                android:name=".CrudAlumnos"
                android:exported="true"
                android:label="Alumnos"/>
        <activity
                android:name=".CrudCiclos"
                android:exported="true"
                android:label="Cursos"/>
        <activity
                android:name=".CrudCarreras"
                android:exported="true"/>
        <activity
                android:name=".CrudCursosDeCarreras"
                android:exported="true"/>
        <activity
                android:name=".CrudCursosDeCiclos"
                android:exported="true"/>
        <activity
                android:name=".CrudCursosDeProfesores"
                android:exported="true"/>
        <activity
                android:name=".CrudHistorialAlumno"
                android:exported="true"/>
        <activity
                android:name=".SeguridadMatri"
                android:exported="true"/>
        <activity
                android:name=".SeguridadAdmin"
                android:exported="true"/>
        <activity
                android:name=".Seguridad"
                android:exported="true"/>
        <activity
                android:name=".NotasPorCurso"
                android:exported="true"/>
        <activity
                android:name=".Notas"
                android:exported="true"/>
        <activity
                android:name=".Matricula"
                android:exported="true"/>
        <activity
                android:name=".GruposDisponibles"
                android:exported="true"/>
        <activity
                android:name=".CursosDisponibles"
                android:exported="true"/>
        <activity
                android:name=".OfertaAcademica"
                android:exported="true"/>
        <activity
                android:name=".Historial"
                android:exported="true"/>
        <activity
                android:name=".ConsultarJobApplication"
                android:exported="true"/>
        <activity
                android:name=".InsertarJobApplication"
                android:exported="true"/>
        <activity
                android:name=".ModificarJobApplication"
                android:exported="true"/>
        <activity
                android:name=".CrudJobforms"
                android:exported="true"/>
        <activity
                android:name=".JobApplication"
                android:exported="true"/>
        <activity
                android:name=".ModificarExample"
                android:label="@string/title_activity_menu_example"
                android:theme="@style/Theme.UIExamples.NoActionBar"/>
        <activity
                android:name=".InsertarExample"
                android:exported="true"/>
        <activity android:name=".CrudPersonas"/>
        <activity
                android:name=".MenuExample"
                android:label="@string/title_activity_menu_example"
                android:theme="@style/Theme.UIExamples.NoActionBar"/>
        <activity
                android:name=".MenuExampleAdministrator"
                android:label="Administrador"
                android:theme="@style/Theme.UIExamples.NoActionBar"/>
        <activity
                android:name=".MenuExampleStandard"
                android:label="Profesor"
                android:theme="@style/Theme.UIExamples.NoActionBar"/>
        <activity
                android:name=".MenuExampleAlumno"
                android:label="Alumno"
                android:theme="@style/Theme.UIExamples.NoActionBar"/>
        <activity
                android:name=".MenuExampleMatriculador"
                android:label="Matriculador"
                android:theme="@style/Theme.UIExamples.NoActionBar"/>
        <activity
                android:name=".ChangePassword"
                android:label="@string/title_activity_menu_example"
                android:theme="@style/Theme.UIExamples.NoActionBar"/>
        <activity android:name=".LoginExample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>